/taxonomy-stress-test/target
/taxonomy-restful/target
/taxonomy-import/target
/.idea
# Created by .ignore support plugin (hsz.mobi)
/taxonomy-restful/src/main/resources/logback.xml
/taxonomy-import/src/main/resources/application.properties
taxonomy-restful/logs/
taxonomy-restful/src/main/resources/staticContent/xsd/schema2.xsd
taxonomy-service-restful.iml
/taxonomy-deployment/taxonomy-deployment.iml
taxonomy-deployment/taxonomy-deployment.iml
taxonomy-import/taxonomy-import.iml
taxonomy-restful/taxonomy-restful.iml
taxonomy-stress-test/taxonomy-stress-test.iml
