<configuration>
    <jmxConfigurator />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${backlog.base.path:-logs}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${backlog.base.path:-logs}/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>50</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- APPLICATION TAXONOMY LOG additivity="false"-->
    <logger name="org.apache" level="DEBUG" >
        <appender-ref ref="ROLLING"/>
    </logger>
    <logger name="uk.ac.ebi" level="DEBUG" >
        <appender-ref ref="ROLLING"/>
    </logger>

    <logger level="INFO" name="ROLLING_LOGGER" >
        <appender-ref ref="ROLLING"/>
    </logger>

    <!-- CONSOLE LOGS EVERY SYSOUT/SYSERR AND LOGS GRIZZLY  -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>